:root {
    --paars: #6610f2;
    --hover-paars: #792ff1;
}

.modal-title {
    font-family: 'Gloria Hallelujah', cursive;
    color: var(--paars);
    font-size: 1.8rem;
    border-color: white;
}

#button-close-modal {
    margin-right: auto;
}

/* START radio buttons */
.btn-outline-primary {
    background: white;
    border-color: #6610f2;
    color: #6610f2;
}

.btn-outline-primary:hover {
    background: #6610f2;
    border-color: #6610f2;
    color: white;
}

.btn-check:checked + .btn-outline-primary {
    background: #6610f2;
    border-color: #6610f2;
    color: white;
}
/* START radio buttons */

#actieButton {
    background: #6610f2;
    color: white;
}

#actieButton:hover {
    background: #6610f2;
}