
body {
    background-image: url("../images/transactions.jpeg");
    background-size: cover;
    /*opacity: 1.1;*/
}

/*.table-container {*/
/*    display: flex;*/
/*    justify-content: left;*/
/*    text-align: center;*/
/*}*/

.card-body {
    text-align: center;
}

.gever, ontvanger {
    width: 100%;
}

#transactionsCatalogue {
    background-color: #F6F6F6;
    color: #6610f2;
    margin-top: 60px;
    margin-bottom: 5%;
    margin-left: 10%;
    width: 80%;
}

.transaction-container {
    margin-top: 8%;
    opacity: 0.9;
    background-color: #6610f2;
    border-radius: 10px;
}



