/* Author: Petra Coenen */

body {
    color: #616161;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    color: #6610f2;
    font-size: 2.2rem;
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

img {
    margin-bottom: 1.5em;
}

.btn-login {
    background-color: #6610f2;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-login:hover {
    background-color: #754DF7;
}

#invalid-combination {
    background-color: #f6e4e4;
    color: #b80202;
    visibility: hidden;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    color: #616161;
    background-color: #F6F6F6;
}