/*TODO: clean up css!*/

:root {
    --paars: #6610f2;
    --hover-paars: #792ff1;
    --geel: #f27ddd;
    --grijs: #616161;
    --lichtgrijs: #F6F6F6;
}

body {
    background-image: url("../images/crypto-background.jpeg");
    background-size: cover;
}

.go-home {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.1em;
    transform: skewY(-3deg);
}

/*Uses ID's because element and class selectors do not seem to override bootstrap styling*/
#logout-btn, #buy-btn, #offer-btn, #delete-btn, #trade-btn {
    background: var(--paars);
    border-color: white;
    color: white;
}

/*Uses ID's because element and class selectors do not seem to override bootstrap styling*/
#logout-btn:hover, #buy-btn:hover, #offer-btn:hover, #delete-btn:hover, #trade-btn:hover {
    background: var(--hover-paars);
}

#buy-btn, #offer-btn {
    margin: 0.5rem 0 0.5rem 0;
}

.welcome-container {
    margin: 10%;
    background-color: var(--paars);
    border-radius: 10px;
}

.table-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.table-title-container {
    background-color: var(--lichtgrijs);
}

/*Uses ID's because element and class selectors do not seem to override bootstrap styling*/
#asset-table, #offer-table, #no-assets-box, #no-offers-box {
    margin-bottom: 2.5rem;
    background-color: var(--lichtgrijs);
    color: var(--paars);
    align-content: center;
}

#no-assets-box, #no-offers-box {
    padding: 1rem;
}

h1, h2 {
    color: white;
}

/*Uses ID's because element and class selectors do not seem to override bootstrap styling*/
#welkomLayout {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding-bottom: 30px;
}

/*Uses ID's because element and class selectors do not seem to override bootstrap styling*/
#ibanLayout, #saldoLayout {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

h5 {
    color: var(--paars);
    padding-top: 1rem;
}
