:root {
    --paars: #6610f2;
    --geel: #f27ddd;
    --grijs: #616161;
    --lichtgrijs: #F6F6F6;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    color: #616161;
    background-color: #F6F6F6;
}

#asset-table {
    background-color: #F6F6F6;
    color: #6610f2;
    margin-top: 60px;
    width: 70%;
    align-content: center;
    align-self: center;
}

#welkomLayout {
    color: var(--paars);
    margin-top: 50px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
}
#ibanLayout{
    color: var(--paars);
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#saldoLayout{
    color: var(--paars);
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

#logout-btn {
    background: #6009ef;
    border-color: white;
    color: white;
}

.navbar {
    /*color: white;*/
    padding-top: 0rem;
    padding-bottom: 0rem;
}