#welkomLayout {
    color: var(--paars);
    font-weight: bold;
    font-size: 25px;

}
input {
    width: 25%;
}

.progressClass {
    font-size: 15px;
    color:rgb(255, 0, 0);   
    display: inline
}

.progressClassInput {
    font-size: 15px;
    color:rgb(68, 0, 255)
}
#voorvoegsel {
    font-size: 15px;
    color:rgb(68, 0, 255)
}
#voorvoegselResult{
    font-size: 15px;
    color:rgb(255, 0, 0);   
    display: inline
}
#toevoegsel {
    font-size: 15px;
    color:rgb(68, 0, 255)
}
#toevoegselResult{
    font-size: 15px;
    color:rgb(255, 0, 0);   
    display: inline
}