img {
    width: 20%;
    height: 20%;
    padding: 10px;
}

.navbar {
    background-color: #6610f2;
    height: 80px;
}

.cryptomero-logo {
    width: 80px;
    height: 80px;
    /*padding: 10px;*/
}

.go-home {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.1em;
    transform: skewY(-3deg);
}

.cryptomero-logo {
    /*margin-left: 30%;*/
    transition: 0.70s;
    display: block;
}

.cryptomero-logo:hover {
    transition: 0.90s;
    transform: rotate(360deg);
}

#logout-btn {
    background: #6009ef;
    border-color: white;
    color: white;
}

body {
    background-image: url("../images/transactions.jpeg");
    background-size: cover;
    opacity: 1.1;
}

.column {
    width: 30%;
}

.transaction-container {
    margin-top: 8%;
    opacity: 0.9;
    background-color: #6610f2;
    border-radius: 10px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.2em;
    color: #616161;
    background-color: #F6F6F6;
}

